/*
 * Content Module
 *
 * Hauptbereich für Inhaltsdarstellung. Flexibles Grid mit Subgrid-Option.
 */

 @layer module-content {
    .content {
      grid-column: span 9;
      display: grid;
      grid-template-columns: subgrid;
      gap: var(--space-4);
    }
  
    @container layout (max-width: 768px) {
      .content {
        grid-column: span 12;
        order: 1;
      }
    }
  }
  