/*
 * Hamburger Module
 *
 * Hamburger-Menü-Icon mit Animation und Toggle-Zustand.
 */

 @layer module-hamburger {
    .hamburger {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  
    .hamburger-line {
      height: 2px;
      width: 100%;
      background-color: var(--color-gray-800);
      transition: transform var(--transition-fast) ease-in-out;
    }
  
    .hamburger--active .line-1 {
      transform: translateY(6px) rotate(45deg);
    }
  
    .hamburger--active .line-2 {
      opacity: 0;
    }
  
    .hamburger--active .line-3 {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
  