/*
 * Progress Module
 *
 * Fortschrittsanzeige als Balken.
 */

 @layer module-progress {
    .progress {
      background-color: var(--color-gray-200);
      border-radius: var(--radius-full);
      overflow: hidden;
      height: 1rem;
      width: 100%;
    }
  
    .progress-bar {
      height: 100%;
      background-color: var(--color-primary);
      transition: width var(--transition-normal);
    }
  }
  