/*
 * Widget Module
 *
 * Flexible Boxen für Dashboards und Seitenlayouts.
 */

 @layer module-widget {
  .widget {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-md);
    padding: var(--space-4);
    box-shadow: var(--shadow-sm);
  }

  .widget--highlight {
    border-color: var(--color-primary);
    background-color: color-mix(in oklab, var(--color-primary), white 90%);
  }
}
