/**
 * Neon Theme
 * 
 * Diese Datei definiert das Neon Theme.
 * Die Farben orientieren sich an den Variablen aus colors.css.
 * Das Theme wird nur aktiviert, wenn die Klasse "theme-neon" auf einem Element angewendet wird.
 */
@layer theme-neon {
  .theme-neon {
    /* Neon Theme */
    --color-primary-50: var(--color-fuchsia-50);
    --color-primary-100: var(--color-fuchsia-100);
    --color-primary-200: var(--color-fuchsia-200);
    --color-primary-300: var(--color-fuchsia-300);
    --color-primary-400: var(--color-fuchsia-400);
    --color-primary-500: var(--color-fuchsia-500);
    --color-primary-600: var(--color-fuchsia-600);
    --color-primary-700: var(--color-fuchsia-700);
    --color-primary-800: var(--color-fuchsia-800);
    --color-primary-900: var(--color-fuchsia-900);
    --color-secondary-50: var(--color-pink-50);
    --color-secondary-100: var(--color-pink-100);
    --color-secondary-200: var(--color-pink-200);
    --color-secondary-300: var(--color-pink-300);
    --color-secondary-400: var(--color-pink-400);
    --color-secondary-500: var(--color-pink-500);
    --color-secondary-600: var(--color-pink-600);
    --color-secondary-700: var(--color-pink-700);
    --color-secondary-800: var(--color-pink-800);
    --color-secondary-900: var(--color-pink-900);
    --color-accent-50: var(--color-rose-50);
    --color-accent-100: var(--color-rose-100);
    --color-accent-200: var(--color-rose-200);
    --color-accent-300: var(--color-rose-300);
    --color-accent-400: var(--color-rose-400);
    --color-accent-500: var(--color-rose-500);
    --color-accent-600: var(--color-rose-600);
    --color-accent-700: var(--color-rose-700);
    --color-accent-800: var(--color-rose-800);
    --color-accent-900: var(--color-rose-900);
    --color-success: var(--color-fuchsia-500);
    --color-warning: var(--color-pink-500);
    --color-error: var(--color-rose-500);
    --color-info: var(--color-fuchsia-400);
    
    /* Grayscale */
    --color-gray-100: #fff;
    --color-gray-200: #e6e6e6;
    --color-gray-300: #ccc;
    --color-gray-400: #b3b3b3;
    --color-gray-500: #999;
    --color-gray-600: #808080;
    --color-gray-700: #666;
    --color-gray-800: #4d4d4d;
    --color-gray-900: #333;
  }
}