:root {
  /* Night Theme */
  --color-primary: #673ab7;
  --color-primary-light: #9575cd;
  --color-primary-dark: #512da8;
  
  --color-secondary: #9c27b0;
  --color-secondary-light: #ba68c8;
  --color-secondary-dark: #7b1fa2;
  
  --color-accent: #7e57c2;
  --color-accent-light: #b39ddb;
  --color-accent-dark: #5e35b1;
  
  --color-success: #4caf50;
  --color-warning: #ffc107;
  --color-error: #f44336;
  --color-info: #2196f3;
  
  /* Grayscale */
  --color-gray-100: #f3e5f5;
  --color-gray-200: #e1bee7;
  --color-gray-300: #ce93d8;
  --color-gray-400: #ba68c8;
  --color-gray-500: #ab47bc;
  --color-gray-600: #9c27b0;
  --color-gray-700: #8e24aa;
  --color-gray-800: #7b1fa2;
  --color-gray-900: #6a1b9a;
} 